@charset "UTF-8";

* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

:root {
    --header: #F5F7F7;
    --fundo: #FFFFFF;
    --fundo-destaque: #EFF1F7;

    --color-header: #3E3E3E;

    --analoga: #FE9C00;

    --botao01: #098E00;

    --cor-principal01: #02019D;
    --cor-principal02: #2730A5;
    --cor-principal03: #292FCC;

    --degrade01: #1F4F8D;
    --degrade02: #6780B6;
    --degrade03: #A6A5CF;
    --degrade04: #9A78B5;
    --degrade05: #793D7C;
}

:root {
    --font-padrao: Arial, Helvetica, sans-serif;
}


header {
    background-color: #F5F7F7;
    color: var(--color-header);
    max-width: 2000px;
}

header > .nav-superior {
    font-size: small;
    text-align: right;

    padding: 15px 0px 0px 0px;

    display: block;
}

.nav-superior img {
    height: 16px;
    margin-right: 8px;
}

.nav-superior span {
    margin: 0px 10px;
}

.nav-superior span.nada {
    min-width: 160px;
    display: inline-block;
}

.divisao-header {
    padding: 0px 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.reparticao01 {
    margin: 0px 65px;
    width: 290px;
    display: inline-block;
}

.reparticao02 {
    padding: 26px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav.nav-inferior > span {
    min-width: 100px;

    display: inline;
}

.reparticao02 > nav > span > img {
    margin-right: 8px;
}

.nav-inferior {
    margin: 0px 25px;
    text-align: center;
}

.nav-inferior > span {
    margin: 0px 25px 0px 0px;
}

span.botao01 {
    font-size: small;
    min-width: 120px;
    height: 33px;
    border-radius: 15px;

    display: table;
}

.botao01 > span.centralizar {
    background-color: #098E00;
    color: #fff;
    text-align: center;
    font: normal normal 0.8em var(--font-padrao);

    border-radius: 15px;

    display: table-cell;
    vertical-align: middle;
}






div.parte {
    background-image: linear-gradient(to right, var(--degrade01), var(--degrade02), var(--degrade03), var(--degrade04), var(--degrade05));
    height: 800px;
}